body {
    margin: 0;
    color: #F9FAF8;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding-left:  320px;
    padding-right: 320px;
    padding-bottom: 96px;
}

header {
    background-color: #1F2937;
}

.navigation ul {
    margin: 0;
    padding: 16px 0px;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
}

.navigation ul li:first-child{
    margin-right: auto;
}

.navigation ul li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.link {
    font-size: 18px;
}

.link.logo{
    font-size: 24px;
    font-weight: bold;
}

.hero-banner-container {
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 96px;
}

.hero-banner-container .title {
    font-size: 48px;
    font-weight: 900;
}

.hero-banner-container .description {
    font-size: 18px;
}

.primary-button {
    background-color: #3882F6;
    padding: 8px 36px;
    color: #F9FAF8;
    border-radius: 8px;
    border-style: none;
    font-weight: 700;
    font-size: 18px;
    margin: 16px 0px;
}

.information-header {
    margin: 64px 0px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.illustration-container {
    display: flex;
    align-items: center;
    gap: 64px;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.illustration img {
    border: 3px #3882F6 solid;
    border-radius: 12.5%;
}

.illustration-description {
    color: #1F2937;
    text-align: center;
    margin-top: 8px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote-background {
    background-color: #E5E7EB;
}

.quote {
    margin-top: 64px;
    padding: 24px 96px;
    align-self: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic ;
}

.quote-author {
    align-self: flex-end;
    color: #1F2937;
    font-weight: 800;
    margin-right: 96px;
    font-size: 24px;
}

.action-container {
    border-radius: 16px;
    padding: 48px 24px;
    background-color: #3882F6;
    margin-top: 64px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}

.action-description {
    flex-basis: 560px;
}

.strong {
    font-weight: 800;
    font-size: 24px;
}

.strong > span {
    font-weight: 200;
    font-size: 24px;
}

.secondary-button {
    background-color: #3882F6;
    padding: 8px 36px;
    color: #F9FAF8;
    border: 2px #F9FAF8 solid;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    margin: 16px 0px;
}

.container-space {
    margin-top: 96px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 36px;
}

.footer {
    font-weight: bold;
}
